  *, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;

  }

  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 30px;
      border: 1px, solid #FFFFFF;
      outline: none; 
    }
    
      .span-two {
        grid-column: span 2;
        color: #fff;
        background-color: #669ef2;
      }

      .output{
        grid-column: 1 / -1;
        background-color: #dbd7db;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 16px;
        word-wrap: break-word;
        word-break: break-all;
        text-align:left;
      }

      .output .previous-operand{
        color: black;
        font-size: 1.5rem;
      }

      .output .current-operand{
        color: black;
        font-size: 2.5rem;
      }
